.title-search {
  font-family: 'Yeseva One', serif;
  margin: 0;
  padding-top: 8vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.input-search {
  width: auto;
  margin-left: 10vw;
  margin-right: 10vw;
}
