<div class="homepage">
  <div class="topimage"></div>
  <div class="bottomimage"></div>
  <div class="header-text">
    <h1>Welcome to Filmdash</h1>
    <h2>Your cinematic journey!</h2>
  </div>
  <div class="get-started-button">
    <%= link_to "Get started", preferences_path, class: "button-get-started" %>
  </div>
</div>
