<h1
  class="title-search"
>
  Stream Hunt:<br />
  Find Your Movie
</h1>

<div class="input-group mb-5 mt-4 input-search">
  <input type="text" class="form-control" placeholder="Program Title" aria-label="Program Title" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
</div>

<div class="result-search-container">
  <div class="result-search-grid">
    <div class="poster-container">
      <img src="https://images.squarespace-cdn.com/content/v1/63bb3e8a824d7e2f7eedf0d3/b5b0f347-d67e-4605-8338-a5c3ef890f95/Queer+4.jpeg?format=500w" alt="">
    </div>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
  // Votre code JavaScript ici
  console.log('Hello');
});
</script>
