<h1
  class="title-search"
>
  Stream Hunt:<br />
  Find Your Movie
</h1>

<div class="input-group mb-5 mt-4 input-search">
  <input type="text" class="form-control" placeholder="Program Title" aria-label="Program Title" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
</div>

<div class="result-search-container">
  <div class="result-search-grid">
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
  console.log('Hello');
});

const tmdbapiUrl = "https://api.themoviedb.org/3/search/multi";
const requestHeaders = <%= raw @request_headers.to_json %>;

document.getElementById("button-addon2").addEventListener('click', (e) => {
  e.preventDefault();

  const title =document.querySelector(".form-control").value;
  fetch(`${tmdbapiUrl}?query=${encodeURIComponent(title)}`, {
        method: 'GET',
        headers: requestHeaders
      })
    .then(response => response.json())
    .then(data => appendMoviesToDom(data.results));
});

const appendMoviesToDom = (movies) => {
  console.log(movies);
  const moviesContainer = document.querySelector(".result-search-grid");
  moviesContainer.innerHTML = ""; // Clear the previous results if any
  movies.forEach((movie) => {
    if ((movie.media_type === "movie" || movie.media_type === "tv") && (movie.poster_path !== null)) {
      cardHTML = createMoviePoster(movie);
      moviesContainer.insertAdjacentHTML('beforeend', cardHTML);
  }});
};

const createMoviePoster = (movie) => {
    return `
      <div class="poster-container">
        <img class="poster" src="https://image.tmdb.org/t/p/w185/${movie.poster_path}" alt="${movie.title}">
      </div>
  `
};

</script>
