<h1
  class="title-search"
>
  Stream Hunt:<br />
  Find Your Movie!
</h1>

<div class="input-group mb-3 mt-5 input-search">
  <input type="text" class="form-control" placeholder="Program Title" aria-label="Program Title" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  // Votre code JavaScript ici
  console.log('Hello');
});
</script>
