<h1 class="title-search">
  Stream Hunt:<br />
  Find Your Movie
</h1>

<div data-controller="tmdb-search" data-api-url="https://api.themoviedb.org/3/search/multi" data-headers='<%= raw @request_headers.to_json %>'>
  <div class="input-group mb-5 mt-4 input-search">
    <input type="text" class="form-control" placeholder="Program Title" aria-label="Program Title" aria-describedby="button-addon2">
    <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
  </div>

  <div class="result-search-container">
    <div class="result-search-grid">
      <!-- Results will be populated here -->
    </div>
  </div>
</div>
