<%# <h1>Title:</h1> %>
<%# <h1><%= @result[:title] </h1>%>
<div class="all-result-page">
  <section class="banner-result">
    <img src="https://metrograph.imgix.net/2022/08/uncle-boonmee.bmp?fm=pjpg&ixlib=php-3.3.1" alt="">
  </section>

  <section class="poster-result">
    <img src="https://grandillusioncinema.org/wp-content/uploads/2025/01/uncleboonmee_hires.jpg" alt="">
  </section>

  <section class="result-container">

    <section class="top-infos-result">
      <h5>Uncle Boonmee Who Can Recall His Past Lives</h5>
      <div class="under-title">
        <p class="date-release">2010</p>
        <p class="trailer-show">TRAILER</p>
      </div>
    </section>

    <section class="streaming-links-result">
      <div class="streaming-container-result">
        <h5>This movie is available on:</h5>
        <div class="logo-display">
          <div class="logo-result-links"></div>
          <div class="logo-result-links"></div>
          <div class="logo-result-links"></div>
          <div class="logo-result-links"></div>
        </div>
      </div>
    </section>

    <section class="synopsis-result">
      <p>
        Synopsis:
      </p>
      <p>
        Suffering from acute kidney failure, Boonmee has chosen to
        spend his final days surrounded by his loved ones in the countryside.
        Surprisingly, the ghost of his deceased wife appears to care for him,
        and his long lost son returns home in a non-human form. Contemplating the
        reasons for his illness, Boonmee treks through the jungle with his family
        to a mysterious hilltop cave—the birthplace of his first life.
      </p>
    </section>

  </section>
</div>
