@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "bootstrap";
@import "font-awesome";
@import "components/index";
@import "pages/index";
@import "pages/movie_watchlists";


// component styles
@import "components/menubar";
@import "components/movie_card";

// main styles
@import "components/variables";

// your stylesheets
@import "pages/details";
@import "pages/preferences_movies";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-dark-grey;
  color: $white;
  font-family: $body-font;
}

.homepage {
  overflow: hidden;
}

.tmdb-logo {
  background-image: url('https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg');
  // background-color: red;
  height: 3%;
  width: 8%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: 3%;
  left: 6%;
  position: fixed;
  z-index: 2000;
}

@media (min-width: 768px) {
  .tmdb-logo {
    background-image: url('https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg');
    // background-color: red;
    height: 3%;
    width: 3%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 3%;
    left: 1%;
    // right: 2%;
    position: fixed;
    z-index: 2000;
  }
}
